@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700;800;900&display=swap');


body {
  font-family: 'Nunito Sans', sans-serif;
}


@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 20px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #f3f4f6;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: rgb(219, 219, 219);
  border-radius: 100vh;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #c0a0b9;
}